<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Todo List</h3>
  <a routerLink="/add-todo" class="btn btn-success btn-sm">+ Add New</a>
</div>

<div *ngIf="todosList.length === 0" class="alert alert-warning">
  No todos found. Click "Add New" to get started!
</div>

<ul class="list-group">
  <li
    *ngFor="let todo of todosList"
    class="list-group-item d-flex justify-content-between align-items-center"
  >
    <div>
      <a
        [routerLink]="['/todos', todo.id]"
        class="text-decoration-none fw-bold me-3"
      >
        {{ todo.title }}
      </a>

      <a
        [routerLink]="['/todos', todo.id]"
        [queryParams]="{ mode: 'edit' }"
        class="badge bg-secondary text-decoration-none"
      >
        Open in Edit Mode
      </a>
    </div>

    <button (click)="remove(todo.id)" class="btn btn-danger btn-sm">X</button>
  </li>
</ul>
